---
import Linkedin from "@components/Icons/Linkedin/index.astro";
import X from "@components/Icons/X/index.astro";
import Github from "@components/Icons/Github/index.astro";
import Rss from "@components/Icons/Rss/index.astro";
---

<nav class="flex justify-center items-center">
  <ul class="flex flex-row gap-6 text-base font-normal leading-6 font-sans">
    <li><a href="/posts">Blog</a></li>
    <!-- <li><a href="/projects">Projects</a></li> -->
    <li>
      <a
        href="https://github.com/LeanMendez"
        target="_blank"
        rel="noopener noreferrer"><Rss class="w-6 h-6" /></a
      >
    </li>
    <li>
      <a
        href="https://github.com/LeanMendez"
        target="_blank"
        rel="noopener noreferrer"><Github class="w-6 h-6" /></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/leandroamendez/"
        target="_blank"
        rel="noopener noreferrer"><Linkedin class="w-6 h-6" /></a
      >
    </li>
    <li>
      <a
        href="https://x.com/Mr_Leomendez"
        target="_blank"
        rel="noopener noreferrer"><X class="w-6 h-6" /></a
      >
    </li>
  </ul>
</nav>
